@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  transition: background-color 0.25s ease,
              color 0.25s ease,
              border-color 0.25s ease;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  @apply bg-slate-100 dark:bg-slate-950;
}
.dark .shadow-sm {
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}